html {
    position: absolute;
    min-height: 100%;
    width: 100%;
    font-family: 'Comfortaa', Verdana;
}

body {
    margin: 20 20 100px;

}

.code {
  background-color: #BBAABF;
  width: 55%;
  font-family: monospace;
  font-size: 16px;
}

hr {
  border: 3px solid #FFD633
}

#header {
    background-color: #775588;
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
    border: 5px solid #FFD633;
    display: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

img {
    width: 100%;
    height: 420px;
}
.sm {
  display: inline;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #775588;
  font-size: 42px;
}

li {
  font-size: 28px;
}

a{
  padding: 25px;
}

a:link {
  color: #FFD633;
  text-decoration: none;
}

a:active {
  color: #FFD633;
}

a:visited {
  color: #FFD633;

}

a:hover{
  color: #00CC00;
  text-decoration: none;

}


