html {
    position: absolute;
    min-height: 100%;
    width: 100%;
    font-family: 'Tahoma';
}


body {
  margin:0;
  padding:0;
  height:100%;
}

#header {
    background-color: #775588;
    width: 100%;
    height: 30px;
    padding: 10px;
    border: 5px solid #FFD633;
    display: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
}

#header * {
  padding-right: 20px;
}

#main_img {
  width: 100%;
  height: 50%;
}

#wrapper {
  min-height:100%;
  position:relative;
}

#content {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer element */
}

#footer {
  width:100%;
  height:40px;
  position:absolute;
  bottom:0;
  left:0;
  background:#775588;
  text-align: center;
  padding: 10px;
   border: 5px solid #FFD633;
}

.code {
  background-color: #BBAABF;
  width: 55%;
  font-family: monospace;
  font-size: 16px;
}

hr {
  border: 3px solid #FFD633
}

.sm {
  display: inline;
  margin: 10px;
}

h1 {
  text-align: center;
  color: #775588;
  font-size: 42px;
}

/*li {
  font-size: 28px;
}*/

a:link {
  color: #FFD633;
  text-decoration: none;
}

a:active {
  color: #FFD633;
}

a:visited {
  color: #FFD633;

}

a:hover{
  color: #00CC00;
  text-decoration: none;
}

p {
  font-size: 16px;
}

highlight {
  color: #00CC00;
}