/* Ruby is B31441
 * JavaScript is 9615AD
 */

h1, h3 {
  text-align: center;
}

.row {
  margin: auto;
  text-align: center;
}

.box:nth-child(1) {
  display: block;
  width: 30%;
  margin: auto;
  border: none;
}

.box:nth-child(1) p {
  text-align: justify;
}

.box:nth-child(2) {
  background-color: #9615AD;
}

.box:nth-child(3) {
  background-color: #B31441;
}

pre {
  text-align: left;
}

.box {
  display: inline-block;
  margin: 30px;
  vertical-align: top;
  border-radius: 10px;
  border: 1px solid black;
}

.code {
  background-color: #BBAABF;
  font-family: monospace;
  font-size: 12px;
  padding: 10px;
}

#container {
  text-align: center;
}