/* include your css here */

   body {
            font-family: 'Roboto', sans-serif;
          }

          h1 {
             text-align: center;
             color: #4C4D85;
          }

          h2 {
              text-align: center;
          }
          img {
              width: 100%;
          }

          a:hover {
              color: green;
          }

          a {
              text-decoration: none;
              color: #4C4D85;
            }